<div class="container">
    <div class="mt-5">

        <ng-container *ngIf="!ip">
            <div class="form-inline">
                <div class="md-form form-group">
                    <input mdbActive #ip type="text" class="form-control">
                    <label class="">Device IP</label>
                </div>
                <div class="md-form form-group">
                    <button class="btn btn-primary waves-light" [disabled]="!ip.value" (click)="add(ip.value)">Add</button>
                </div>
            </div>
        </ng-container>

        <div *ngIf="ip" class="card">
            <div class="card-body">
                <div *ngFor="let o of observables" class="d-flex p-2" style="align-items: baseline">
                    <i class="fa fa-2x mr-3" [ngClass]="icons[o.name]" style="width: 32px"></i>
                    <h3 style="flex-grow: 1">{{betterNames[o.name]}}</h3>
                    <h3>{{o.observable | async}}{{units[o.name]}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
